body{
    background-color: rgb(201, 189, 189);
}


.container{
    width: 30%;
    background-color: white;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 5rem;
    text-align: center;
  
    font-family: cursive, Arial, Helvetica, sans-serif;
    height: auto;
 
}
.container input{
    width: 60%;
    height: 30px;

}
.container button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background-color:chartreuse;
    cursor: pointer;
    margin-left: 2rem;
}
.container audio {
    width: 100px;
 
}
.dataContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}
.dataContainer div{
    margin-left: 20px;
}
.meaning{
    border: 2px solid gray;
    width: 100%;
    text-align: left;
    overflow-y: scroll;
    max-height: 215px;
}
.synonym{
display: flex;
flex-wrap: wrap;
  
}

h2{
    margin-bottom: 10px;
}
@media (max-width: 767px){
    .container{
        width: 100%;
        margin-left: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
}
@media (min-width: 768px) and (max-width: 1217px){
    .container{
        width: 60%;
        margin-left: 20%;
    }
}