@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(201, 189, 189);
    font-family: cursive, Arial, Helvetica, sans-serif;
}
.bookmark-button{
    background-color: cornflowerblue;
    margin-left: 40%;
    margin-top: 10px;
    cursor: pointer;
}
.bookmark-button:hover{
    opacity: 0.7;
}
.savedWordsContainer{
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin-bottom: 2rem;
}
.savedWordsContainer .savedWord{
    cursor: pointer;

}
.savedWord:hover{
    opacity: 0.7;
}
@media (max-width: 767px){
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
}
@media (min-width: 768px ) and (max-width: 1217px){
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
}













